---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "CI: pre-commit autoupdate"
  skip: [pyright]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trims trailing whitespace.
      - id: end-of-file-fixer
        name: Ensures that a file is either empty, or ends with one newline.
        exclude_types: [svg, json]
      - id: check-added-large-files
        name: Prevents giant files from being committed.
      - id: check-merge-conflict
        name: Checks for files that contain merge conflict strings.

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: Check and insert license on Python files.
        files: .*\.pyi?$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - id: insert-license
        name: Check and insert license on Markdown files.
        files: .*\.md$
        exclude: .github.*
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --detect-license-in-X-top-lines
          - '10'
          - --comment-style
          - '<!--|  ~|  -->'

      - name: Check and insert license on Rust files
        id: insert-license
        files: .*\.rs$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "//"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - 'pytest>=8.2.0'

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint # Use pylintrc file in repository
        name: Check for Linting errors on Python.
        description: This hook runs pylint.
        types: [python]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Check for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args:
          - '--ignore-words=.github/ignore-codespell-words'  # Ignore words listed in this file

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files with settings defined in `.markdownlint-cli2.yaml`.
