---
name: "Build and Test Pull Request and main branch"

"on":
  pull_request:

  push:
    branches:
      - main

concurrency:
  # For PRs the head_ref will be used. For Merge Queues (merge_group) we fallback to run_id.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Augment verbosity if ACTIONS_STEP_DEBUG is set
  CIBW_BUILD_VERBOSITY: ${{ secrets.ACTIONS_STEP_DEBUG && 3 || 0 }}
  # TODO: Check if this is used for pytest
  PY_COLORS: 1
  # rust
  CARGO_TERM_COLOR: always

jobs:
  # ------------------------------------------------------------ #
  # Build cross platform pyavd-utils wheels and upload artifacts
  # ------------------------------------------------------------ #
  # Separating ubuntu-latest from the others in order to save some
  # time in CI.
  # Later, this can be re-unified.
  build_pyavd_utils_wheels:
    name: Build pyavd-utils wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - macos-15-intel
          - macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install cibuildwheel
        # See pyproject.toml for config
        # TODO: could use the action instead but need approval
        run: |
          pip install --group build_wheel
      - name: Build wheels
        # Not using working-directory because manylinux uses a container
        # and will not copy the parent Cargo.toml and we will be sad
        run: |-
          python -m cibuildwheel --output-dir dist
      - uses: actions/upload-artifact@v5
        with:
          name: pyavd-utils-wheels-${{ matrix.os }}
          path: dist/*.whl

  # -------------------------------------------- #
  # Python type checking not covered in pre-commit
  # -------------------------------------------- #
  python_type_checking:
    name: Python Linting not covered in pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: PyRight static type checker
        # Specific SHA as allowed by github org admins
        uses: jakebailey/pyright-action@6cabc0f01c4994be48fd45cd9dbacdd6e1ee6e5e

  # ----------------------------------- #
  # Cargo build, test and linting
  # ----------------------------------- #
  cargo_build_and_test:
    name: Cargo build, test and linting on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - macos-15-intel
          - macos-latest
    steps:
      - uses: actions/checkout@v6
        # This is needed for arm machines since they don't ship with 2024 edition.
      - name: Upgrade rust and cargo
        run: rustup update stable
        # This is needed because we have pyo3 tests and our minimum python version is 3.10.
        # On some test containers (looking at you windows-latest) the included Python is 3.9.
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Check code formatting with cargo fmt
        run: cargo fmt --verbose
        if: |
          matrix.os == 'ubuntu-latest'
      - name: Check code style with clippy
        run: cargo clippy --all-targets --all-features
        if: |
          matrix.os == 'ubuntu-latest'
      - name: Run all tests
        run: cargo test --all-targets --all-features
      - name: Generate coverage report with cargo llvm-cov
        run: |
          rustup component add llvm-tools-preview --toolchain stable-x86_64-unknown-linux-gnu
          cargo install cargo-llvm-cov
          cargo llvm-cov --all-targets --all-features --lcov --output-path lcov.info
        if: |
          matrix.os == 'ubuntu-latest'
      - name: Upload coverage report
        uses: actions/upload-artifact@v5
        with:
          name: rust-llvm-cov
          path: lcov.info
        if: |
          matrix.os == 'ubuntu-latest'
      - name: Test building to all targets
        run: cargo build --all-targets --all-features
      - name: Check Rust dependencies with cargo deny
        run: |
          cargo install cargo-deny
          cargo deny check
        if: |
          matrix.os == 'ubuntu-latest'

  # ------------------------------------------- #
  # pyavd-utils test on platforms using wheels
  # ------------------------------------------- #
  pyavd_utils_test_cross_platform:
    name: pyavd-utils ${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: [build_pyavd_utils_wheels]
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - macos-15-intel
          - macos-latest
        python: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Download {{ matrix.os }} wheel
        uses: actions/download-artifact@v6
        with:
          name: pyavd-utils-wheels-${{ matrix.os }}
          path: pyavd-utils/dist
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: |
          pip install tox tox-gh-action --upgrade
      - name: Run pytest via tox for the wheel
        # the environment will automatically pick up the downloaded wheel from pyavd-utils/dist
        run: |-
          tox run
      - name: Combine and report test coverage
        run: |
          set -ex
          coverage report
          coverage xml
      - name: Upload pytest coverage report
        uses: actions/upload-artifact@v5
        with:
          name: pytest-coverage
          path: coverage.xml
